.animItem{
  position: absolute;
  will-change: transform, height, opacity;
  width: 100%;
}

.list {
  position: relative;
  width: 65vw;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.cell {
  position: absolute;
  border: 1px solid black;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aInput {
  position: absolute;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ab{
  position: absolute;
}
.details {
  position: relative;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0px 10px 25px -10px rgba(0, 0, 0, 0.2);
}

.nInput{
  margin-left: 10px;
}
.hInput{
  visibility: hidden;
  width: 0;
}
.input-3des{
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px; 
}

.first-column {
  width: 100px; /* Set the width to 100 pixels */
}
.wHex{
  width: 300px;
}
.tfn{
  font-weight: normal;
}
.tfb{
  font-weight: bold;
}
.tfcb{
  color: blue;
}
.tfcr{
  color: red;
}
.w17{
  width: 16px;
  text-align: center;
}
.w120{
  text-align: center;
  width: 110px;
}
.wFile{
  width: 190px;
}
.smaller-font{
  font-size: 7px;
}
.small-font{
  font-size: 12px;
}
.bb{
  border-bottom: 1px solid #ccc;
}
.tfix{
  table-layout:fixed;
  border-collapse: collapse;
}
.animslider{
  margin: 0;
  height: 22px;
}